body {
    display: flex;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.main {
    background-color: red;
    flex-grow: 1;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.sidebar {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    background-color: blue;
    padding: 15px;
    background-color: #06b6d4;
    gap: 30px;
    width: 230px;
}

.nav-row {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 15px;
}

.title {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 8px;
}

.nav-rows {
    padding: 15px;
}

.icon {
    width: 25px;
}

#logo {
    width: 45px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.greeting {
    display: flex;
    flex-direction: column;
}

#searchbar {
    background-color: #e2e8f0;
    border-radius: 30px;
    border: 2px solid #e2e8f0;
}

#searchbar:focus {
    border: 3px solid cyan;
    box-shadow: 0px 0px 10px black;
}